body{
    font-family: 'poppins', sans-serif;
    color: #004d6b;
}
#contenedorimg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
    flex-direction: column;
    gap: 25px;
}

#contenedor1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-top: -2rem;
}

#contenedor2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-size: 15px;
    margin-top: -2rem;
}

#button{
    background-color: #FFCB3A;
    border-color: transparent;
    width: 9rem;
    height: 2rem;
    color: #004d6b;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 1rem;
    margin-top: -1rem;
}

.aviso{
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 1rem;
}

.tiempo_Boton{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -2.8rem;
}

#countdown{
    color: #004d6b;
    font-size: 2rem;
    font-weight: 300;
    font-family: 'poppins', sans-serif;
}

.texto_aviso{
    font-size: 14px;
}

.restante{
    font-size: 28px;
}