.titulo{
    font-family: 'poppins', sans-serif;
    color: #004D6B;
    text-align: center;
    font-weight: bold;
}

.infopantalla{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem;
    gap: 1rem;
}

.logoB{
    display: flex;
    align-items: center;
    justify-content: center;
}