body{background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;}

.contenedor-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.h1text{
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #004D6B;
    padding: 0;

}

.image0{
    width: 161px;
    height: 38px;
    
}
.text{
    font-family: "Poppins", sans-serif;
    width: 280px;
}
.image-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.contenedor-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    }
    
.btn-loan{
    height: 200px;
    width: 350px;
    text-align: start;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    background-color: #FFCB3A;
    border: 0;
    border-radius: 20px;
    color:#004D6B ;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.btn-loan-see{
    height: 200px;
    width: 350px;
    text-align: start;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    background-color: #dedede;
    border: 0;
    border-radius: 20px;
    color:#004D6B ;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}